h1{
    text-align: center;
}
.container-third{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
   
}
.contant-third{
    display: flex;
    border-radius: 50px;
    width: 250px;
    height: 240px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient( red,#CE241C);
}
@media only screen and (max-width: 1400px) {
    .container-third{
      flex-wrap: wrap;
      gap: 15px;
    }
}